/* RESET */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* HERO BACKGROUND */
.hero {
    height: 100vh;

    background:
        linear-gradient(rgba(0, 30, 40, 0.65),
        rgba(0, 30, 40, 0.75)),
        url("../images/flood-bg.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* CONTENT CONTAINER */
.hero-content {
    max-width: 800px;
    padding: 20px;
}

/* BIG SLOGAN */
.main-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

/* SMALL DESCRIPTION */
.subtitle {
    font-size: 15px;
    color: #d1f5ff;
    margin-bottom: 35px;
}

/* BUTTON */
.start-btn {
    background: #00bcd4;
    color: white;
    padding: 14px 32px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.start-btn:hover {
    background: #0097a7;
}
.logo { font-weight: 700; font-size: 1.25rem; color: white; }
.accent-text { color: var(--accent-blue); }

.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 24px;
    transition: 0.2s;
}

.nav-links a:hover, .active-link { color: var(--accent-blue); }
