<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FloodSense AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    {% block extra_css %}{% endblock %}
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">
        FloodSense <span class="ai">AI</span>
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/history">History</a>
        <a href="/about">About</a>
    </div>
</nav>

<!-- PAGE CONTENT -->
{% block content %}{% endblock %}

</body>
</html>
